@font-face {
    font-family: "AkzindenzGrotesk";
    src: url('fonts/akzidenzgroteskpro_regular-webfont.woff') format("woff"),
        url("fonts/akzidenzgroteskpro_regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("img/Background.webp");
    background-repeat: repeat;
    background-color: #FBFCFD;
    font-family: "AkzindenzGrotesk", 'Trebuchet MS', Arial, sans-serif;

}

main,
header,
footer {
    margin-right: 3rem;
    margin-left: 3rem;
}

p {
    font-size: 1.25rem;
    color: #1D1D1F;
}

a:-webkit-any-link {
    text-decoration: none;
}

a {
    position: relative;
    color: #1D1D1F;
    text-decoration-style: none;
    line-height: 1.7;
    overflow: hidden;
}

a::after {
    content: "~~~~~~~~~~~~~~~~~~~~~~~";
    position: absolute;
    left: 0;
    bottom: -10%;

    font-size: 1.2em;
    letter-spacing: 0.15em;

    color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1D1D1F;




    opacity: 0;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transition: opacity 0.2s ease;
    animation: wave 2s linear infinite;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #1D1D1F;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

.header1Padding {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 3.5rem;
}

header {
    margin-bottom: 4rem;
    position: relative;
}

nav {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.navLinks {
    display: flex;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navGroup {
    margin-left: auto;
    display: flex;
    gap: 3rem;
}

.headerGrid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 90%;
}

.headerGrid img {
    display: block;
    max-width: 25%;
    height: auto;
}

.directionalArrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    /* animation: bob 1s ease-in-out infinite alternate;
    transform-origin: center; */

}

.emChou {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.profession {
    text-align: center;
    margin-bottom: 1rem;
}

.about {
    text-align: center;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.aboutFlex {

    display: flex;
    gap: 6rem;
    margin: 5rem auto;
    line-height: 1.5;
    max-width: 83rem;
}

.aboutFlex img {
    display: block;
    max-width: 35rem;
    height: auto;
    border-radius: 1.2rem;
    margin-left: auto;
}

.footerHeader {
    font-size: 4rem;
    margin: 1.5rem 0;
}

.footerLinkSub {
    margin-bottom: -1rem;
    margin-top: 0.5rem;
}

.footerFlex {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: auto;
}

.footerMain {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;

}

.footerMain img {
    margin-top: auto;
    margin-left: auto;
    height: auto;
    max-width: 25rem;
}

.footerLink {
    color: #1D1D1F;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin: 0;
    display: inline-block;
    width: fit-content;
}

.developer {

    font-size: 0.75rem;
    margin-left: auto;
    width: fit-content;

}

/* works page */
.projectHeading {
    font-size: 3.5rem;
    text-align: left;
    margin-top: 0;
}

.itemFlex {
    display: flex;
    border-style: none none solid none;
    border-width: 0.1rem;
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 0.5rem;
}

.itemFlex p:nth-child(1) {
    margin-right: 3rem;
}

.itemFlex > * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.yearItem {
    margin-left: auto;
}

.projectFlex {
    display: flex;
    margin-bottom: 4rem;
}

.projectContCont {
    flex: 0 0 60%;
    padding-right: 3rem;
}

.projectContCont h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "AkzindenzGrotesk", 'Trebuchet MS', Arial, sans-serif;
}

.projectImgCont {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projectImgCont img {
    border: solid;
    border-color: #1D1D1F;
    background-color: white;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
}

@keyframes bob {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(0.25rem);
    }
}

@keyframes wave {

    0% {
        transform: translateX(-0px);
    }

    100% {
        transform: translateX(-56px);
    }
}

@media(width < 70rem) {
    .aboutFlex {
        flex-direction: column;
        gap: 1rem;
        margin: 3rem 1rem;
        line-height: 1.5;
    }

    .aboutFlex div {
        order: 2;
    }

    .aboutFlex img {
        order: 1;
        margin-left: 0;
        max-width: 100%;
    }

    .footerHeader {
        font-size: 4rem;
        margin: 1.5rem 0;
        margin-bottom: 1rem;
    }

    .footerMain img {
        height: auto;
        max-width: 20rem;
    }

    .footerLink {
        font-size: 2rem;
    }


    .footerLinkSub {
        font-size: 1rem;
    }
}

@media(width < 60rem) {

     .footerMain {
        flex-direction: column;
    }
    .footerMain img {
    margin-left: 0;
    width: 100%;
    max-width: 30rem;
}

}


@media(width < 50rem) {
    .headerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headerGrid img {
        width: 100%;
        max-width: none;
        height: 100%;

    }

    .projectHeading {
        font-size: 3.5rem;
        text-align: left;
    }


    .projectFlex {
        flex-direction: column;
        gap: 3rem;
    }

    .projectContCont {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .projectImgCont {
        flex: 0 0 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .projectImgCont img {
        max-width: 100%;
        height: auto;
    }

}

@media(width < 32rem) {

    main,
    header,
    footer {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .aboutFlex {
        margin: 2rem 0rem;

    }

    .profession {
        font-size: 3rem;
    }

    .headerGrid {
        max-width: 100%;
    }

    nav {
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    .navLinks {
        display: flex;

        margin-top: 1.5rem;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .navGroup {
        gap: 1rem;
    }

    .projectImgCont {

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .projectImgCont img {
        max-width: 100%;
        height: auto;
    }

    .footerLink {
        font-size: 1.75rem;
    }


    .footerLinkSub {
        font-size: 0.8rem;
        margin-bottom: -0.5rem;
        margin-top: 0.5rem;
    }
}

@media(width < 28rem) {
    .profession {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .header1Padding {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .footerLink {
        font-size: 1.25rem;
    }


    .footerLinkSub {
        font-size: 0.6rem;
        margin-bottom: -0.5rem;
        margin-top: 0.5rem;
    }

}